.dropZoneContainer {
    border: 2px dashed #cccccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background: #fff;
    width: 64%;
}

table {
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
    background-color: #fff;
    thead {
        tr th {
            border-bottom: 2px solid #ccc;
        }
    }
    tbody {
       tr td{
        &:first-child {
            word-break: break-all;
            width: 50%;
            padding-right: 10px;
        }
       }
    }
}
